
#titulo-cadastro {
    margin-top: 50px;
    color: white;
}

label {
    color: white;
}

button {
    background-color: black;
    border-style: none;
}

button:hover {
    background-color: white ;
    color: black;
}

#cadastrar {
    margin-top: 15px;
}

#voltar {
    margin-left: 10px;
    margin-top: 15px;
    background-color: transparent;
}

#voltar:hover {
    background-color: rgba(255, 255, 255, 0.534);
}

.text-danger {
    color: yellow !important;
}

.container {
    margin-bottom: 35px;
}

#pesquisar-cep {
    margin-top: 15px;
    margin-bottom: 15px;
}