.container {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 50px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.267);
    width: fit-content;
    border-radius: 20px;
}

p {
    color: white;
}

#endereco-consultado p {
    padding-top: 15px;
   
}

button {
    background-color: black;
    border-style: none;
}

button:hover {
    background-color: white ;
    color: black;
}
