.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding: 15px;
}

p {
    color: white;
}

#endereco-consultado p {
    padding: 15px;
   
}

button {
    background-color: black;
    border-style: none;
}

button:hover {
    background-color: white ;
    color: black;
}
