@import '../../assets/styles/variables';

.card-img-top {
    width: 300px;
    border-radius: 50%;
    padding: 20px;
}

@media only screen and (max-width: 575px) {
    .card-img-top {
        width: 250px;
    }
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-title {
   margin: auto;
}

.card-text {
    text-align: center;
}

.card {
    margin: auto;
    margin-bottom: 20px;
    background-color: $colorBackgroundCard;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 500px;
    cursor: pointer;
}

.card:hover {
    background-color: $colorCardHover;
}



