@import '../../../assets/styles/variables';

.logo {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    color: $colorLogomarca;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 1%;
    font-size: 1.2em;
    font-weight: 400;
    background-color: $colorNavbar;
  }
  
  .lista-menu {
    list-style-type: none;
    display: inline-block;
    padding: 10px;
  }

  .link-menu {
    color: $colorLinkNavbar;
    text-decoration: none;
  }

 .link-menu:hover {
    color: $colorHoverLinkNavbar;
    transition: .3s;
  }

