@import '../../assets/styles/variables';
@import '../../assets/styles/responsive';


#logomarca {
    font-family: "Abril Fatface", serif;
    color: $colorLogomarca;
    text-align: center;
    padding-top: 20px;
}

header {
    justify-content: center;
    align-items: center;
    background-color: $colorHeaderLoginCadastro;
    padding-bottom: 20px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

#titulo-login {
    color: $colorTituloForms;
}

label {
    color: $colorLabelFormsGeral;
}

.form-group {
    margin-top: 10px;
}

button {
    background-color: $colorBtn;
    border-style: none;
}

button:hover {
    background-color: $colorHoverBtn ;
    color: $colorHoverText;
}

#esqueci-senha {
    text-decoration: none;
    color: $colorLabelFormsGeral;
}

#esqueci-senha:hover {
    color: $colorHoverText;
}

#entrar {
    margin-top: 15px;
}

#criar-conta {
    margin-left: 10px;
    margin-top: 15px;
    background-color: $colorBtnSecundario;
}

#criar-conta:hover {
    background-color: $colorHoverBtn;
}

.container {
    margin-bottom: 35px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 0px;
    background-color: $colorContainerLoginCadastro;
}

#login {
    padding: 15px;
}