
#titulo-login {
    margin-top: 50px;
    color: white;
}

label {
    color: white;
}

button {
    background-color: black;
    border-style: none;
}

button:hover {
    background-color: white ;
    color: black;
}

#esqueci-senha {
    text-decoration: none;
    color: white;
}

#esqueci-senha:hover {
    color: black;
}

#entrar {
    margin-top: 15px;
}

#criar-conta {
    margin-left: 10px;
    margin-top: 15px;
    background-color: transparent;
}

#criar-conta:hover {
    background-color: rgba(255, 255, 255, 0.534);
}

.container {
    width: 35%;
}

@media only screen and (max-width: 900px) {
    .container {
        width: 40%;
    }
}

@media only screen and (max-width: 750px) {
    .container {
        width: 50%;
    }
}

@media only screen and (max-width: 550px) {
    .container {
        width: 60%;
    }
}

@media only screen and (max-width: 450px) {
    .container {
        width: 85%;
    }
}