@import '../../assets/styles/variables';
@import '../../assets/styles/responsive';

#titulo-login {
    color: $colorTituloForms;
}

label {
    color: white;
}

.form-group {
    margin-top: 10px;
}

button {
    background-color: black;
    border-style: none;
}

button:hover {
    background-color: white ;
    color: black;
}

#esqueci-senha {
    text-decoration: none;
    color: white;
}

#esqueci-senha:hover {
    color: $colorHoverText;
}

#entrar {
    margin-top: 15px;
}

#criar-conta {
    margin-left: 10px;
    margin-top: 15px;
    background-color: transparent;
}

#criar-conta:hover {
    background-color: rgba(255, 255, 255, 0.534);
}

.container {
    margin-bottom: 35px;
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.281);
}

