#topo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.card-alimentos {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1200px;    
    margin: auto;
}

@media only screen and (min-width: 767px) and (max-width: 990px) {
    .card-alimentos {
        max-width: 675px;
    }
}

@media only screen and (max-width: 767px) {
    .card-alimentos {
        max-width: 400px;
    }
}


  

