@import '../../assets/styles/variables';
@import '../../assets/styles/responsive';

#titulo-recuperar-senha {
     color: $colorTituloForms;
}

label {
    color: white;
}

button {
    background-color: black;
    border-style: none;
}

button:hover {
    background-color: white ;
    color: black;
}

#voltar {
    margin-top: 15px;
    margin-left: 10px;
    background-color: transparent;
}

#voltar:hover {
    background-color: rgba(255, 255, 255, 0.534);
}

#recuperar-senha {
    margin-top: 15px;
}

.container {
    margin-bottom: 35px;
    margin-top: 100px;
    border: 1px solid transparent;
    border-radius: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.281);
}