@import '../../assets/styles/variables';
@import '../../assets/styles/responsive';

#logomarca {
    font-family: "Abril Fatface", serif;
    color: $colorLogomarca;
    text-align: center;
    padding-top: 20px;
}

header {
    justify-content: center;
    align-items: center;
    background-color: $colorHeaderLoginCadastro;
    padding-bottom: 20px;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}

#titulo-recuperar-senha {
     color: $colorTituloForms;
}

label {
    color: $colorLabelFormsGeral;
}

button {
    background-color: $colorBtn;
    border-style: none;
}

button:hover {
    background-color: $colorHoverBtn ;
    color: $colorHoverText;
}

#voltar {
    margin-top: 15px;
    margin-left: 10px;
    background-color: $colorBtnSecundario;
}

#voltar:hover {
    background-color: $colorHoverBtn;
}

#recuperar-senha {
    margin-top: 15px;
}

.container {
    margin-bottom: 35px;
    margin-top: 100px;
    border-radius: 20px;
    padding: 0px;
    background-color: $colorContainerLoginCadastro;
}

#enc-email {
    padding: 15px;
}