@media only screen and (max-width: 480px) {
    .container {
        width: 85%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .container {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 50%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1400px) {
    .container {
        width: 35%;
   }
}

@media only screen and (min-width: 1400px) and (max-width: 1980px) {
    .container {
        width: 25%;
   }
}

@media only screen and (min-width: 1980px) {
    .container {
        width: 20%;
    }
}

.container {
margin-top: 140px;
}