h1 {
    display: flex;
    justify-content: center;
    margin: 0; 
    font-size: 1em;
    color: white;
    padding-top: 10px;
}

span {
    color: rgb(0, 0, 0);
}

button {
    background-color: black;
    border-style: none;
}

button:hover {
    background-color: white ;
    color: black;
}

